buoi4_NguyenMinhThaiBao/bai2/student_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Kiểu dữ liệu dùng chung -->
    <xs:simpleType name="MaType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ràng buộc số điện thoại -->
    <xs:simpleType name="PhoneType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ràng buộc tên khoa chỉ chứa ký tự a-z -->
    <xs:simpleType name="TenKhoaType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="DSSV">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KHOA" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaKhoa" type="MaType"/>
                            <xs:element name="TenKhoa" type="TenKhoaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="LOP" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaLop" type="MaType"/>
                            <xs:element name="TenLop" type="TenType"/>
                            <xs:element name="MaKhoa" type="MaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="SINHVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSSV" type="MaType"/>
                            <xs:element name="HoTen" type="TenType"/>
                            <xs:element name="Email" type="xs:string"/>
                            <xs:element name="DiaChi" type="xs:string"/>
                            <xs:element name="SoDT" type="PhoneType"/>
                            <xs:element name="MaLop" type="MaType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="PK_Khoa">
            <xs:selector xpath="KHOA"/>
            <xs:field xpath="MaKhoa"/>
        </xs:key>

        <xs:key name="PK_Lop">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="MaLop"/>
        </xs:key>

        <xs:key name="PK_SinhVien">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="MSSV"/>
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="FK_Lop_Khoa" refer="PK_Khoa">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="MaKhoa"/>
        </xs:keyref>

        <xs:keyref name="FK_SV_Lop" refer="PK_Lop">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="MaLop"/>
        </xs:keyref>
    </xs:element>

</xs:schema>
