buoi2_NguyenMinhThaiBao/benhvien.dtd

<!ELEMENT hospital (app:appointment+)>

<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment
          id ID #REQUIRED
          date CDATA #REQUIRED
          status CDATA #REQUIRED>

<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient
          id ID #REQUIRED>

<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>

<!ELEMENT doc:doctor (doc:name)>
<!ATTLIST doc:doctor
          id ID #REQUIRED
          specialty CDATA #REQUIRED>

<!ELEMENT doc:name (#PCDATA)>

